<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.IndentMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.entity.Indent">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="purchaseTime" column="purchase_time" jdbcType="TIMESTAMP"/>
            <result property="ticketId" column="ticket_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,purchase_time,ticket_id,
        user_id
    </sql>
    <resultMap id="IndentDetails" type="com.example.backend.entity.Indent">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="purchaseTime" column="purchase_time" jdbcType="DATE"/>
        <result property="ticketId" column="ticket_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <association property="ticket" javaType="com.example.backend.entity.Ticket">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <association property="session" javaType="com.example.backend.entity.Session">
                <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
                <association property="movie" javaType="com.example.backend.entity.Movie">
                    <result property="title" column="title" jdbcType="VARCHAR"/>
                    <result property="genre" column="genre" jdbcType="VARCHAR"/>
                </association>
                <association property="room" javaType="com.example.backend.entity.Room">
                    <result property="name" column="name" jdbcType="VARCHAR"/>
                </association>
            </association>
            <association property="seat" javaType="com.example.backend.entity.Seat">
                <result property="seatRow" column="seat_row" jdbcType="CHAR"/>
                <result property="seatCol" column="seat_col" jdbcType="INTEGER"/>
            </association>
        </association>
    </resultMap>
    <select id="getByUserId" resultMap="IndentDetails" parameterType="INT">
        SELECT *
        FROM indent
                 INNER JOIN ticket ON indent.ticket_id = ticket.id
                 INNER JOIN session ON ticket.session_id = session.id
                 INNER JOIN movie ON session.movie_id = movie.id
                 INNER JOIN room ON session.room_id = room.id
                 INNER JOIN seat ON ticket.seat_id = seat.id
        WHERE indent.user_id = #{userId}
    </select>
</mapper>
