<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backend.mapper.MovieMapper">

    <resultMap id="BaseResultMap" type="com.example.backend.entity.Movie">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="genre" column="genre" jdbcType="VARCHAR"/>
            <result property="director" column="director" jdbcType="VARCHAR"/>
            <result property="showStatus" column="show_status" jdbcType="INTEGER"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="releaseDate" column="release_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,genre,
        director,show_status,image_url,
        introduction,release_date
    </sql>
</mapper>
